@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: var(--font-manrope);
  --font-mono: var(--font-plex-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}

